body {
	text-align: center;
}

#box1 {
	width: 150px;
	height: 150px;
	background-image: url('./pictrue/black.jpeg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	margin-right: 24px;
}

#box2 {
	width: 150px;
	height: 150px;
	background-image: url('./pictrue/girls.jpeg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	margin-right: 24px;
}

#box3 {
	width: 150px;
	height: 150px;
	background-image: url('./pictrue/green.jpeg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
}